YoloDataset/
YoloDataset2/
YoloDataset_CORRECT/
Models/

.exe
.toc
.zip
.rar
.7z
.tar
.tar.gz
.tar.bz2
.tar.xz
.tar.lzma
.tar.lz
.tar.lz4
.tar.zstd
backend/build/BrightSpotDetectorServer/
backend/dist/BrightSpotDetectorServer.exe
